src/main/resources/META-INF/spring-terminator.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://dwarfeng.com/schema/spring-terminator"
            targetNamespace="http://dwarfeng.com/schema/spring-terminator">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[ Namespace support for the spring-terminator services provided by dwarfeng. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="terminatorType">
        <xsd:attribute name="id" type="xsd:token" default="terminator">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[ Defines the terminator's bean name. ]]></xsd:documentation>
                <xsd:appinfo>
                    <tool:annotation>
                        <tool:expected-type type="java.lang.String"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="pre-delay" type="xsd:token" default="-1">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[ Defines the delay time before terminating. ]]></xsd:documentation>
                <xsd:appinfo>
                    <tool:annotation>
                        <tool:expected-type type="java.lang.Long"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="post-delay" type="xsd:token" default="-1">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[
                    Defines the delay time after terminating.
                    Post delay may interrupted when calling thread is managed by spring framework, in this case,
                    post delay will abort and the delay time will less than configured value.
                    ]]>
                </xsd:documentation>
                <xsd:appinfo>
                    <tool:annotation>
                        <tool:expected-type type="java.lang.Long"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="bean" type="terminatorType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Export terminator config ]]></xsd:documentation>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="com.dwarfeng.springterminator.stack.handler.Terminator"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>
